<!--<nav class="navbar navbar-dark bg-dark">-->

<!--<a class="navbar-brand" href="#">Brand</a>-->

<!--<div class="navbar-expand navbar" id="navbarNavAltMarkup">-->
<!--<div class="navbar-nav">-->
<!--<a class="nav-item nav-link active" routerLink="sales">Sales</a>-->
<!--<a class="nav-item nav-link" routerLink="inventory">Inventory</a>-->
<!--<a class="nav-item nav-link" routerLink="reports">Reports</a>-->
<!--&lt;!&ndash;<a class="nav-item nav-link disabled" href="#">Disabled</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--</nav>-->

<div class="container-fluid">
    <h3>Reports -
        <small>Oct 7 2017</small>
    </h3>

    <div class="flex flex-row align-items-center">
        <span class="flex-grow-1"></span>
        <mat-form-field>
            <input matInput [(ngModel)]="datefrom" (dateChange)="evaluate()" [matDatepicker]="picker_from"
                   placeholder="Choose start date">
            <mat-datepicker-toggle matSuffix [for]="picker_from"></mat-datepicker-toggle>
            <mat-datepicker #picker_from></mat-datepicker>
        </mat-form-field>

        <span class="ml-3 mr-3 font-weight-bold">to</span>

        <mat-form-field>
            <input matInput [(ngModel)]="dateto" (dateChange)="evaluate()" [matDatepicker]="picker_to"
                   placeholder="Choose end date">
            <mat-datepicker-toggle matSuffix [for]="picker_to"></mat-datepicker-toggle>
            <mat-datepicker #picker_to></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="container-fluid">

        <div *ngFor="let p of purchases; let i = index ">
            <h6 class="bg-dark text-white p-1 pr-3 pl-3 mb-0 flex flex-row">#{{p.receipt}} <span class="flex-grow-1"></span> <span class="text-left">Total: GH₵ {{getTotal(p.products)}}</span></h6>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Unit Cost</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let prod of p.products">
                    <td>{{prod.item.name}}</td>
                    <td class="text-right">{{prod.quantity}}</td>
                    <td class="text-right">{{prod.item.unit_price}}</td>
                    <td class="text-right">{{prod.quantity * prod.item.unit_price}}</td>
                </tr>


                </tbody>
            </table>

        </div>


    </div>

</div>