<div class="h-100 flex flex-column">

    <nav class="navbar navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Brand</a>

        <div class="navbar-expand navbar" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="sales">Sales</a>
                <a class="nav-item nav-link" routerLink="inventory">Inventory</a>
                <a class="nav-item nav-link" routerLink="reports">Reports</a>
                <!--<a class="nav-item nav-link disabled" href="#">Disabled</a>-->
            </div>
        </div>

    </nav>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>


</div>