.text-sm {
  font-size: 0.8em;
}

.table {

  tbody {
    //tr :hover {
    //  background: #d3d3d3;
    //}
  }

  td {
    border-top: initial;
    border-bottom: 1px dashed;
    border-bottom-color: #dee2e6;
  }
}

