<div class="flex-grow-1">

    <h3 class="text-left">Sale</h3>
    <div class="row flex-grow-1">
        <div class="col-sm-7">

            <form #mform [formGroup]="myForm" (submit)="mform.checkValidity()? add(theItem): false">

                <div class="form-group">
                    <label>Select Product</label>
                    <select #theItem formControlName="item" class="form-control">
                        <option *ngFor="let inv of inventory" [ngValue]="inv">{{inv.name.toUpperCase() }}
                        </option>
                    </select>
                </div>


                <div class="form-group ">
                    <label>Quantity</label>
                    <!--<div class="input-group mb-3">-->
                    <input type="number" formControlName="quantity"
                           [class.is-invalid]="myForm.controls['quantity'].errors" min="0"
                           [max]="myForm.value.item?.quantity"
                           class="form-control">
                    <div class="invalid-feedback" *ngIf="myForm.controls['quantity'].errors?.min">Minimum amount
                        should be 1 not {{myForm.controls['quantity'].errors?.min?.actual}}
                    </div>
                    <div class="invalid-feedback" *ngIf="myForm.controls['quantity'].errors?.max">Maximum amount
                        should be {{myForm.value.item?.quantity}} not
                        {{myForm.controls['quantity'].errors?.min?.actual}}
                    </div>

                </div>


                <!--<p>{{myForm.controls['item'].errors | json }}</p>-->
                <!--<p>{{myForm.controls['quantity'].errors | json}}</p>-->


            </form>


            <!--<hr>-->
            <br><br><br>

            <button class="btn btn-primary w-100" [value]="1" [disabled]="myForm.invalid"
                    (click)="mform.checkValidity()? add(theItem): null">
                Add
            </button>


            <!--<div class="form-group">-->
            <!--<label>Amount Received</label>-->
            <!--<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">-->
            <!--</div>-->

            <!--<div class="form-group">-->
            <!--<label>Note</label>-->
            <!--<textarea name="" rows="5" class="form-control"></textarea>-->
            <!--</div>-->


        </div>
        <div class="col-sm-5 flex-column flex">
            <br>
            <br>
            <table class="table table-sm text-sm">
                <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Amount</th>
                </tr>
                </thead>
                <tbody>

                <tr (click)="revert(i)" class="clickable" *ngFor="let sale of sales; let i = index">
                    <td>{{sale.item.name.toUpperCase()}}</td>
                    <td class="text-right">{{sale.item.unit_price}}</td>
                    <td class="text-right">{{sale.quantity}}</td>
                    <td class="text-right">{{sale.item.unit_price * sale.quantity}}</td>
                </tr>



                </tbody>
            </table>


            <div class="flex-grow-1"></div>

            <div class="text-right pt-2" style="border-top: 1px solid;border-top-color:  #9da1a5">
                <h6 *ngIf="total">Sub Total: <span class="ml-3 text-primary font-weight-bold">{{total}}</span></h6>
            </div>
            <button (click)="save()" [disabled]="sales.length == 0" class="btn m-2">Purchase</button>

        </div>

    </div>
    <span class="flex-grow-1"></span>

</div>

<!--</div>-->