<div class="flex flex-column" style="min-height: 100%">
    <app-nav class="flex-shrink-1"></app-nav>

    <div class="container-fluid flex-grow-1 ">
        <router-outlet></router-outlet>
    </div>
</div>
