
<div class="container-fluid mt-2">
    <div class="w-100 text-right mb-2 ">
        <button class="btn btn-primary btn-sm">Add</button>


        <div class="row">
            <div class="col-sm-9">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Description</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <!--<th>Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr [class.bg-warning]="inv.quantity == 0" (click)="select(inv)" class="clickable  table-hover" *ngFor="let inv of inventory as Product">
                        <td class="text-left text-uppercase">{{inv.name}}</td>
                        <td class="text-left">{{inv.description}}</td>
                        <td>{{inv.quantity}}</td>
                        <td>{{inv.unit_price}}</td>
                        <!--<td></td>-->
                    </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-sm-3 text-left text-sm">

                <div class="form-group">
                    <label>Product Name</label>
                    <input [(ngModel)]="new_prod.name" type="text" class="form-control form-control-sm"
                           id="formGroupExampleInput2" placeholder="Product Name">
                </div>


                <div class="form-group">
                    <label>Product Description</label>
                    <input [(ngModel)]="new_prod.description" type="text" class="form-control form-control-sm"
                           placeholder="Product Description">
                </div>

                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" [(ngModel)]="new_prod.quantity" class="form-control form-control-sm"
                           placeholder="Quantity">
                </div>

                <div class="form-group">
                    <label>Unit Cost</label>
                    <input type="number" [(ngModel)]="new_prod.unit_price" class="form-control form-control-sm"
                           placeholder="Unit Cost">
                </div>


                <button *ngIf="!this.new_prod._id" (click)="save()" class="btn btn-primary w-100">Save</button>
                <button *ngIf="this.new_prod._id" (click)="update()" class="btn btn-info w-100">Update</button>
            </div>
        </div>
    </div>
</div>