<div class="w-100 h-100 flex flex-column align-items-center text-center justify-content-center">
    <div class="login-panel shadow rounded" >
        <h2>Login</h2>

        <br>

        <div class="form-group">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required>
                <!--<label >Username</label>-->
            </div>


            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required>
                <!--<label >Username</label>-->
            </div>

            <button type="submit" routerLink="/sale" class="btn btn-primary form-control">Login</button>

        </div>




    </div>
</div>