/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;

  height: 100vh;
}

.flex{
  display: flex;
}

.clickable{
  cursor: pointer;
}

.table-hover:hover{
  background-color: #c2c2c2;
}